@import url('https://fonts.googleapis.com/css2?family=Saira');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    background-color: #082841;
    color: white;
}

.cbl {
    display: flex;
    color: white;
    background-color: #1B3C53;
    padding: 8px 16px;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    unicode-bidi: isolate;
    z-index: 1000;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.cbl-titulo {
    font-size: 20px;
    margin-right: 16px;
    padding: 5px 0px;
    color: #d48b36;;
}

.cbl-menu-opcao {
    color: #FFFFFFB3;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    text-align: left;
}

.cbl-menu-opcao-atual {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    text-align: left;
}

.cbl-menu-opcao:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.cbl-menu-mobile {
  display: none;
}

.formulario-mobile {
    display: none;
}

@media (max-width: 749px) {
  .cbl-menu {
    display: none;
  }

  .formulario {
    display: none;
  }

  .formulario-mobile {
    margin: 30px 0;
    background-color: #d48b36;;
    border-color: #2a2a2a;;
    padding: 6px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
    text-decoration: none;
    font-weight: 550;
    display: inline-block;
    width: auto;
    max-width: 250px;
    word-wrap: break-word;
    text-align: center;
  }

  .cbl-menu-mobile {
    display: block;
    width: 30%;
    max-width: 250px;
    background-color: #1B3C53;
    color: white;
    font-size: 16px;
    font-family: "Saira", sans-serif;
    border: 1px solid #d48b36;;
    border-radius: 6px;
    padding: 6px 10px;
    outline: none;
    cursor: pointer;
  }

  .cbl-menu-mobile option {
    background-color: #1B3C53;
    color: white;
  }

  .cbl-menu-mobile:focus {
    border-color: #dba466;
    box-shadow: 0 0 4px #dba466;
  }

  .cbl-titulo {
    font-size: 14px;
    margin-right: 16px;
    padding: 5px 0px;
    color: #d48b36;;
  }
}

.apresentacao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 0 0 10px;
    margin-top: 50px;
    margin-left: 13.516px;
    margin-right: 13.516px;
}

.apresentacao-titulo {
    color: white;
    font-size: 64px;
    font-weight: normal;
    line-height: 80px;
    margin: 0;
}

span {
    text-decoration: none;
    background: linear-gradient(60deg,#dda768 0%, #d48b36 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.apresentacao-subtitulo {
    margin: 10px 0 30px;
    border-left: 1px solid white;
    padding-left: 10px;
    font-weight: normal;
    font-size: 18px;
}

.container-video {
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 0 10px;
}

.video {
    aspect-ratio: 16/9;
    width: 100%;
    max-height: 615px;
    max-width: 1093px;
    border: 0;
    left: 1;
    top: 0;
}

.descricao-video {
    margin-top: 16px;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
    padding: 20px 20px;
    margin-bottom: 16px;
    margin-block-end: 16px;
}

.container-caixas-informativas {
    padding: 0 20px;    
}

.caixa-informativa {
    background-color: #1B3C53;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.caixa-informativa-final {
    background-color: #1B3C53;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.titulo-caixa-informativa {
    font-weight: bolder;
    font-size: 23.04px;
    color: #d48b36;
    margin-block-end: 16px;
    margin-bottom: 16px;
}

.texto-caixa-informativa {
    font-size: 19.02px;
    margin-block-end: 16px;
    margin-bottom: 16px;
}

.texto-caixa-informativa-final {
    font-size: 19.02px;
    margin-block-end: 16px;
    margin-bottom: 25px;
}

.itens-caixa-informativa {
    font-size: 19.02px;
    padding-left: 40px;
    margin-bottom: 16px;
}

.formulario {
    margin: 30px 0;
    background-color: #d48b36;
    border-color: #2a2a2a;;
    padding: 6px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
    text-decoration: none;
    font-weight: 550;
}

.formulario:hover {
    background-color:#dba466;
}

footer {
    margin-top: 30px;
    background-color: #1B3C53;
    border-top: 1px solid;
    padding: 10px 0;
}

.texto-rodape {
    padding: 0 15px;
    margin: 0 71.5px;
    color: #6c757d;
}